:root{
    --font-size: 12px;
    --line-height: 1.75rem;
}

html {
    /* 組み方向 */
    writing-mode: vertical-rl;
    column-count: 1;
    orphans: 1;
    widows: 1;
    font-size: var(--font-size);
    line-height: var(--line-height); /* 「1行分」のマージンには1.75remを指定する。pxでは21 */
}

/*章(section)関連========================================================*/
/*章*/
section.ltlbg_section{
    /*章の区切りに差し込まれるスペース*/
    margin-left: var(--line-height);
}

/*章名称*/
h2.ltlbg_section_name{
    display: block;
    text-align: center;
    font-size: 1rem; 
    font-weight: bold;
    page-break-before: always; 
    /*章タイトルの後、文章が始まるまでのスペース*/
    margin-left: var(--line-height);
}

/*中段落(div)関連========================================================*/
/*中段落間マージン*/
div.ltlng_bracket-group{
    margin-left: var(--line-height);
}
div.ltlng_discript-group{
    margin-left: var(--line-height);
}

/*小段落(p)関連========================================================*/
/*字下げ・括弧類をdataから付与*/
p.ltlbg_bracket{
    margin-left: 0rem;
}
[data-p_header] {
    position: relative;
}
[data-p_header]::before {
    content: attr(data-p_header);
    left: -1rem;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    text-indent: 0;
}
[data-p_footer] {
    position: relative;
}
[data-p_footer]::after {
    content: attr(data-p_footer);
    left: 1rem;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    text-indent: 0;
}

/*記号二連続...縦書きでは縦中横、横書きでは幅1文字化*/
span.ltlbg_wsymbol{
    text-combine-upright: all;
    display: inline-block;
}

/* 縦中横*/
span.ltlbg_tcy {
    text-combine-upright: all;
    display: inline-block;
}

/*アへ濁点*/
/*フォントによって位置がずれる。ユーザ側で調整してください*/
span.ltlbg_dakuten{
    margin-bottom: -1rem;
}
span.ltlbg_dakuten::after {
    display: inline-block;
    content: "゛";
    transform: translate(0rem,calc( var(--line-height) * -1));
}
/*キチガイ半濁音*/
/*フォントによって位置がずれる。ユーザ側で調整してください*/
span.ltlbg_handakuten::after {
    display: inline-block;
    content: "゜";
    transform: translate(0rem,calc( var(--line-height) * -1));
    letter-spacing: -1rem;
}


/*二倍化。自動変換対象ではないが、～などを伸ばすのにも使える。*/
span.ltlbg_wSize{
    display: inline-block;
    transform-origin: top;
    transform: scale(1, 1.8) translateY(1px);
    margin-bottom: 1rem;
}

/*踊り字
  フォントによって位置がずれる。ユーザ側で調整してください。*/
span.ltlbg_odori1::after{
    display: inline-block;
    content: "〳";
    letter-spacing: -0.1rem;
}
span.ltlbg_odori2::before{
    display: inline-block;
    content: "〵";
}

/*半角SP*/
span.ltlbg_sSp{
    margin-bottom: 0.5rem;
}

/*全角SP*/
span.ltlbg_wSp{
    margin-bottom: 1.0rem;
}

/*回転。デフォルトは半時計回りに90度*/
span.ltlbg_rotate{
    display: inline-block;
    transform: rotate(-90deg);
    text-align: center;
    height: 1rem;
}

/*セミコロン用。時計回りに90度*/
span.ltlbg_semicolon{
    display: inline-block;
    transform: rotate(90deg);
    text-align: center;
    height: 1rem;
}

/*コロン用*/
/*コロンは文章方向に従って回転するので回転は不要*/
span.ltlbg_colon{
    display: inline-block;
    text-align: center;
    line-height: 1rem;
}

/*ルビ・傍点関連========================================================*/
/*ルビ・傍点関連========================================================*/
/*ルビは基本的に全てグループルビである。
  変換スクリプト側で、母字数とルビ字数の関係からルビのクラスを分けて設定している。
  以下のスタイルは、そのクラスごとに作成する。
  デフォルトでは以下の4つ。
  ltlbg_ruby-mono……母字1文字にルビ1文字の場合
  ltlbg_ruby-same……母字1文字あたりルビ2文字の場合
  ltlbg_ruby-long……母字1文字あたりルビ2文字超過になる場合
  ltlbg_ruby-short……母字1文字あたりルビ2文字未満になる場合
  それぞれにdataを用意している。
  フォントによって位置がずれる。ユーザ側で調整してください。
  */
[data-ltlbg_ruby-mono] {
    position: relative;
}
[data-ltlbg_ruby-mono]::before {
    content: attr(data-ltlbg_ruby-mono);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    white-space: nowrap;
    text-indent: 0;
    transform-origin: left top;
    letter-spacing: 1rem;
    transform: scale(0.5, 0.5);
}

[data-ltlbg_ruby-same] {
    position: relative;
}
[data-ltlbg_ruby-same]::before {
    content: attr(data-ltlbg_ruby-same);
    position: absolute;
    left: 0;
    right: -2.5rem;
    top: 0;
    bottom: 0;
    white-space: nowrap;
    text-indent: 0;
    transform-origin: left top;
    transform: scale(0.5, 0.5);
}

[data-ltlbg_ruby-short] {
    position: relative;
}
[data-ltlbg_ruby-short]::before {
    content: attr(data-ltlbg_ruby-short);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    white-space: nowrap;
    text-indent: 0;
    transform-origin: left top;
    transform: scale(0.5, 0.5);
}

[data-ltlbg_ruby-long] {
    position: relative;
}
[data-ltlbg_ruby-long]::before {
    content: attr(data-ltlbg_ruby-long);
    position: absolute;
    left: 0;
    right: -2.5rem;
    top: 0;
    bottom: 0;
    white-space: nowrap;
    text-indent: 0;
    transform-origin: left top;
    transform: scale(0.5, 0.5);
}

/*forceGouji1と2で1文字を作ります。
  偏と旁の比率はユーザ側でいじってください。
  複数必要な場合は増やしてください。*/
span.ltlbg_forceGouji1{
    transform-origin: center left;
    transform: scale(0.5,1 )  translate(0.2rem,0);
    display: inline-block;    
}
span.ltlbg_forceGouji2{
    transform-origin: center center;
    transform: scale(0.8,1 ) translate(0.2rem,-1rem);
    display: inline-block;
    margin-bottom: -1rem;
}
