/* 本全体に影響するスタイルを記述するCSS */

@charset "UTF-8";
/*issueに沿って実装追加*/

/*命名のみのクラス。
  html側で仕様を宣言されているが、littlebugでの付与を明示する目的しかないもの。
  実際に独自のスタイリングはしていない。
  必要になった場合は、ここからアンコメントして記述する。

改行
br.ltlbg_br{
}

段落
p.ltlbg_p{
}

括弧類段落
p.ltlbg_p_brctGrp{
}

空行
br.ltlbg_blankline{
}

ルビ
ruby.ltlbg_ruby{
}

水平線
hr.ltlbg_hr{
}

*/

/*変なページ制御をしない*/
*{
    break-inside: auto;
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    line-break: anywhere;
    word-break: break-all;
    overflow-wrap: anywhere;
    text-spacing-trim: space-all;
}

@page {
    
    /*本のサイズ*/
    bleed: 3mm; 
    size: A6;

    /*フッターのレイアウトは全態で統一*/
    @bottom-center {
        font-family: 'BIZ UDMincho';
        content: "- " counter(page) " -";
    }
}

/*左右の配置*/
@page :left{
    margin-right: 6rem;
    margin-left: 3rem;
}
@page :right{
    margin-left: 6rem;
    margin-right: 3rem;
}

/*改ページ*/
div.ltlbg_newpage{
    page-break-after: always;
}

/*太字*/
span.ltlbg_bold{
    font-weight:bold;
}

/*傍点 デフォルトはゴマなので、必要であれば変える
  基本的にlittlebugでは傍点はルビに変換されるため用いられない。
  必要な場合にコメントインする
span.ltlbg_emphasis{
    text-emphasis-style: filled sesame;
}
*/

/*1文字幅*/
span.ltlbg_wdfix{
    display: inline-block;
    text-align: center;
    width: 1rem;
    height: 1rem;
}

/*特殊ルビ用。
  rubyのクラスは縦横別なのでそれぞれに記載*/
rt {
    display: none;
}

