/* 縦書き様に読み込むCSS */

html {
    /* 組み方向 */
    /* 縦 */ writing-mode: vertical-rl;
    
    orphans: 0;
    widows: 0;
    /* 方眼紙模様に必須のスタイル */
    background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
                        linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
    background-size: 1rem 1rem;
    background-repeat: repeat;
    background-position: center center;
    
    /* 以下任意のスタイル */
    padding: 0rem;
}

/*章*/
section.ltlbg_section{
    margin-top: 0.3rem;
    margin-right: 2.8rem;

}
/*章名称*/
h2.ltlbg_sectionName{
    font-size: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display:flex;
    justify-content:center;
    align-items:center;
}

/*段落*/
p.ltlbg_p{
    margin: 0;
    break-inside: avoid-page;
    break-after: avoid;
    }
p.ltlbg_p::before{
    content: "　";
}

<<<<<<<< HEAD:css/littlebugV.css
/*擬似段落*/
p.ltlbg_p_brctGrp{
========
/*擬似段落(div)*/
div.ltlbg_div_brctGrp{
>>>>>>>> c42a8a122b3e8c07e63fa9eaccb13d5d8d9cc7ad:CSS/littlebugV.css
    margin-right: 2rem;
    margin-left: 2rem;
    break-inside: avoid-page;
    break-after: avoid;
}

/*記号二連続...縦書きでは縦中横、横書きでは幅1文字化*/
span.ltlbg_wsymbol{
    text-combine-upright: all;
    display: inline-block;
}

/* 縦中横*/
span.ltlbg_tcy {
    text-combine-upright: all;
    display: inline-block;
}

/*アへ濁点*/
/*フォントによって位置がずれる。ユーザ側で調整してください*/
span.ltlbg_dakuten{
    margin-bottom: -1rem;
}
span.ltlbg_dakuten::after {
    display: inline-block;
    content: "゛";
    transform: translate(1rem,-1rem);

    /*デフォルトのフォントを使用する場合、
      VivliosyleViewerでは以下の値になる
    transform: translate(0.3rem,-1.6rem);*/
}


/*二倍化。自動変換対象ではないが、～などを伸ばすのにも使える。*/
span.ltlbg_wSize{
    display: inline-block;
    transform-origin: top;
    transform: scale(1, 1.8) translateY(1px);
    margin-bottom: 1rem;
}

/*踊り字*/
span.ltlbg_odori1::after{
    display: inline-block;
    content: "〳";
}
span.ltlbg_odori2::before{
    display: inline-block;
    content: "〵";
}

/*半角SP*/
span.ltlbg_sSp{
    margin-bottom: 0.5rem;
}

/*全角SP*/
span.ltlbg_wSp{
    margin-bottom: 1.0rem;
}

/*回転。デフォルトは半時計回りに90度*/
span.ltlbg_rotate{
    display: inline-block;
    transform: rotate(-90deg);
    text-align: center;
    height: 1rem;
}

/*セミコロン用。時計回りに90度*/
span.ltlbg_semicolon{
    display: inline-block;
    transform: rotate(90deg);
    text-align: center;
    height: 1rem;
}

/*コロン用*/
/*コロンは文章方向に従って回転するので回転は不要*/
span.ltlbg_colon{
    display: inline-block;
    text-align: center;
    line-height: 1rem;
}

/*会話「」をぶら下げインデントにする。*/
<<<<<<<< HEAD:css/littlebugV.css
span.ltlbg_talk{
    break-inside: avoid-page;
    break-after: avoid;
}
span.ltlbg_talk::before{
========
p.ltlbg_talk{
    break-inside: avoid-page;
    break-after: avoid;
}
p.ltlbg_talk::before{
>>>>>>>> c42a8a122b3e8c07e63fa9eaccb13d5d8d9cc7ad:CSS/littlebugV.css
    content: "「";
}
p.ltlbg_talk::after{
    content: "」";
}
/*会話『』をぶら下げインデントにする。*/
<<<<<<<< HEAD:css/littlebugV.css
span.ltlbg_talk2{
    break-inside: avoid-page;
    break-after: avoid;
}
span.ltlbg_talk2::before{
========
p.ltlbg_talk2{
    break-inside: avoid-page;
    break-after: avoid;
}
p.ltlbg_talk2::before{
>>>>>>>> c42a8a122b3e8c07e63fa9eaccb13d5d8d9cc7ad:CSS/littlebugV.css
    content: "『";
}
p.ltlbg_talk2::after{
    content: "』";
}
/*思考（）をぶら下げインデントにする。*/
<<<<<<<< HEAD:css/littlebugV.css
span.ltlbg_think{
    break-inside: avoid-page;
    break-after: avoid;
}
span.ltlbg_think::before{
========
p.ltlbg_think{
    break-inside: avoid-page;
    break-after: avoid;
}
p.ltlbg_think::before{
>>>>>>>> c42a8a122b3e8c07e63fa9eaccb13d5d8d9cc7ad:CSS/littlebugV.css
    content: "（";
}
p.ltlbg_think::after{
    content: "）";
} 
/*強調〝〟をぶら下げインデントにする。*/
<<<<<<<< HEAD:css/littlebugV.css
span.ltlbg_wquote{
    break-inside: avoid-page;
    break-after: avoid;
}
span.ltlbg_wquote::before{
========
p.ltlbg_wquote{
    break-inside: avoid-page;
    break-after: avoid;
}
p.ltlbg_wquote::before{
>>>>>>>> c42a8a122b3e8c07e63fa9eaccb13d5d8d9cc7ad:CSS/littlebugV.css
    content: "〝";
    margin-top: -1rem;
}
p.ltlbg_wquote::after{
    content: "〟";
}
/*会話―をぶら下げインデントにする。*/
<<<<<<<< HEAD:css/littlebugV.css
span.ltlbg_dash{
    break-inside: avoid-page;
    break-after: avoid;
}
span.ltlbg_dash::before{
========
p.ltlbg_dash{
    break-inside: avoid-page;
    break-after: avoid;
}
p.ltlbg_dash::before{
>>>>>>>> c42a8a122b3e8c07e63fa9eaccb13d5d8d9cc7ad:CSS/littlebugV.css
    content: "―";
    transform: scale(1, 2) translate(0rem, -0.3rem);
    margin-top: -1rem;
}
/*引用記号＞をぶら下げインデントにする。*/
<<<<<<<< HEAD:css/littlebugV.css
span.ltlbg_citation{
    break-inside: avoid-page;
    break-after: avoid;
}
span.ltlbg_citation::before{
========
p.ltlbg_citation{
    break-inside: avoid-page;
    break-after: avoid;
}
p.ltlbg_citation::before{
>>>>>>>> c42a8a122b3e8c07e63fa9eaccb13d5d8d9cc7ad:CSS/littlebugV.css
    content: "＞";
    margin-top: -1rem;
}

/*特殊ルビ_ルビが長い*/
[data-ruby_long] {
    position: relative;
}
[data-ruby_long]::before {
    content: attr(data-ruby_long);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 70%;
    white-space: nowrap;
    text-indent: 0;

    transform-origin: left top;
    transform: scale(0.5, 0.5);

}

/*特殊ルビ_ルビが少し短い*/
[data-ruby_center] {
    position: relative;
}
[data-ruby_center]::before {
    content: attr(data-ruby_center);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 70%;
    white-space: nowrap;
    text-indent: 0;

    display: flex;
    justify-content: center;
    transform-origin: left center;
    transform: scale(0.5, 0.5);
}

/*特殊ルビ_ルビが短い*/
[data-ruby_short] {
    position: relative;
}
[data-ruby_short]::before {
    content: attr(data-ruby_short);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 80%;
    white-space: nowrap;
    text-indent: 0;

    display: flex;
    justify-content: center;
    transform-origin: left center;
    transform: scale(0.6, 0.6);

    margin-top: 0.4rem;
    letter-spacing: 0.5rem;
}

/*特殊傍点*/
[data-emphasis] {
    position: relative;
}
[data-emphasis]::before {
    content: attr(data-emphasis);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 70%;
    white-space: nowrap;
    text-indent: 0;

    display: flex;
    justify-content: center;
    transform-origin: left center;
    transform: scale(0.5, 0.5);
}

/*forceGouji1と2で1文字を作ります。
  偏と旁の比率はユーザ側でいじってください。
  複数必要な場合は増やしてください。*/
span.ltlbg_forceGouji1{
    transform-origin: center right;
    transform: scale(0.4,1 )  translate(-2rem,0);
    display: inline-block;    
}
span.ltlbg_forceGouji2{
    transform-origin: center left;
    transform: scale(0.6,1 ) translate(1rem,-1rem);
    display: inline-block;
    margin-bottom: -1rem;
}
