html {
    /* 組み方向 */
    /* 横 */ writing-mode: horizontal-tb; 
}

/*章(section)関連========================================================*/
/*章*/
section.ltlbg_section{
    /*章の区切りに差し込まれるスペース*/
    margin-top: 1rem;
    margin-bottom: 2rem;
}
/*章名称*/
h2.ltlbg_sectionName{
    display: block;
    text-align: center;
    font-size: 2rem;
    page-break-before: always; 
    /*章タイトルの後、文章が始まるまでのスペース*/
    margin-bottom: 2rem;
}


/*段落(ｐ)関連========================================================*/
/*説明・会話部分の分離マージン*/
div.ltlbg_Desc-TalkPart{
    margin-bottom: 1rem;
}

/*地の文用の形式段落---------------------------------------------*/
p.ltlbg_desciption{
    display: inline-block;
}
/*字下げ量を調整(下の例では全角スペース3つぶん)*/
p.ltlbg_desciption::before{
    content: "　　　";
}

/*ブラケットが付与される文の形式段落-----------------------------*/
/*「」をぶら下げインデントにする。*/
p.ltlbg_talk{
    margin-left: 1rem;
}
p.ltlbg_talk::before{
    display: inline-block;
    content: "「";
    margin-left: -1rem;
}
p.ltlbg_talk::after{
    content: "」";
}
/*『』をぶら下げインデントにする。*/
p.ltlbg_talk2{
    margin-left: 1rem;
}
p.ltlbg_talk2::before{
    display: inline-block;
    content: "『";
    margin-left: -1rem;    
}
p.ltlbg_talk2::after{
    content: "』";
}
/*（）をぶら下げインデントにする。*/
p.ltlbg_think{
    margin-left: 1rem;
}
p.ltlbg_think::before{
    display: inline-block;
    content: "（";
    margin-left: -1rem;    
}
p.ltlbg_think::after{
    content: "）";
}
/*〝〟をぶら下げインデントにする。*/
p.ltlbg_wquote{
    margin-left: 1rem;
}
p.ltlbg_wquote::before{
    display: inline-block;
    content: "〝";
    margin-left: -1rem;    
}
p.ltlbg_wquote::after{
    content: "〟";
}
/*―をぶら下げインデントにする。*/
p.ltlbg_dash{
    margin-left: 1rem;
}
p.ltlbg_dash::before{
    display: inline-block;
    content: "――";
    margin-left: -1rem;    
}
/*＞をぶら下げインデントにする。*/
p.ltlbg_citation{
    margin-left: 1rem;
}
p.ltlbg_citation::before{
    display: inline-block;
    content: "＞";
    margin-left: -1rem;    
}



/*特殊文字関連========================================================*/
/*アへ濁点*/
/*フォントによって位置がずれる。ユーザ側で調整してください*/
span.ltlbg_dakuten::after {
    display: inline-block;
    transform: translate(-0.1rem,0);
    content: "゛";
    letter-spacing: -1rem;
}
/*二倍化。自動変換対象ではないが、～などを伸ばすのにも使える。*/
span.ltlbg_wSize{
    display: inline-block;
    transform-origin: left;
    transform: scale(1.8, 1) translateX(1px);
    margin-right: 1rem;
}
/*踊り字*/
span.ltlbg_odori1::after{
    display: inline-block;
    transform: rotate(90deg);
    content: "〵";
}
span.ltlbg_odori2::before{
    display: inline-block;
    transform: rotate(90deg);
    content: "〳";
}

/*スペース系の退避========================================================*/
/*横書きの場合はright、縦書きのときはbottomにmarginを差し込む*/
/*半角SP*/
span.ltlbg_sSp{
    margin-right: 0.5rem;
}

/*全角SP*/
span.ltlbg_wSp{
    margin-right: 1.0rem;
}

/*ルビ・傍点関連========================================================*/
/*ルビは基本的に全てグループルビである。
  母字とルビの文字数の関係によって配置を変えるのみ
  ・母字の方が長くルビが短い場合、中央寄せになる。
  　但し母字の方が長くルビが極端に短い場合とで、文字間を変える余地を残している。
  ・母字とルビが同じかルビが長い場合は頭を合わせて流す。行送りではみ出す場合に注意。
  ・母字とルビが同じ場合、littlebug.shで1文字に1ルビの形に変換され、
　　1母字1ルビ文字のモノルビのようになる。
　・圏点は母字とルビが同じ場合と同じ扱い。
  */

/*特殊ルビ_ルビと母字が同じかルビが長い……頭を合わせて流す(text-align: centerが無い)
  1文字モノルビのケースもこれに含まれる*/
[data-ruby_long] {
    position: relative;
}
[data-ruby_long]::before {
    content: attr(data-ruby_long);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80%;
    white-space: nowrap;
    text-indent: 0;

    transform-origin: left bottom;
    transform: scale(0.5, 0.5);
}

/*特殊ルビ_ルビが少し短い……中寄せ「非常に短い」に対してletter-spacingが違うだけ*/
[data-ruby_center] {
    position: relative;
}
[data-ruby_center]::before {
    content: attr(data-ruby_center);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80%;
    white-space: nowrap;
    text-indent: 0;

    text-align: center;
    transform-origin: center bottom;
    transform: scale(0.5, 0.5);
    
    margin-left: -0.25rem;
}

/*特殊ルビ_ルビが非常に短い……中寄せ「少し短い」に対してletter-spacingが違うだけ*/
[data-ruby_short] {
    position: relative;
}
[data-ruby_short]::before {
    content: attr(data-ruby_short);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80%;
    white-space: nowrap;
    text-indent: 0;

    text-align: center;
    transform-origin: center bottom;
    transform: scale(0.5, 0.5);

    letter-spacing: 1rem;
}

/*特殊傍点……内部的にはルビと母字が同じか長いルビと同じ
  littlebug.shで1文字に1圏点のルビに変換されている前提*/
[data-emphasis] {
    position: relative;
}
[data-emphasis]::before {
    content: attr(data-emphasis);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80%;
    white-space: nowrap;
    text-indent: 0;

    transform-origin: left bottom;
    transform: scale(0.5, 0.5);

    margin-left: 0.25rem;
    letter-spacing: 1rem;
}

/*特殊合字========================================================*/
/*forceGouji1と2で1文字を作ります。
  偏と旁の比率はユーザ側でいじってください。
  複数必要な場合は増やしてください。*/
span.ltlbg_forceGouji1{
    transform-origin: center right;
    transform: scale(0.6,1 )  translate(-0.7rem,0);
    display: inline-block;    
}
span.ltlbg_forceGouji2{
    transform-origin: center left;
    transform: scale(0.8,1 ) translate(-1rem,0);
    display: inline-block;
    margin-right: -1rem;
}
