html {
    /* 組み方向 */
    /* 縦 */ writing-mode: vertical-rl;
    /* 横    writing-mode: horizontal-tb; */ 

    orphans: 1;
    widows: 1;
}

/* 縦中横 */
span.ltlbg_tcy {
    text-combine-upright: all;
    display: inline-block;
}

/*踊り字*/
span.ltlbg_odori1::after{
    display: inline-block;
    content: "〳";
}
span.ltlbg_odori2::before{
    display: inline-block;
    content: "〵";
}

/*半角SP*/
span.ltlbg_sSp{
    margin-bottom: 0.5em;
}

/*全角SP*/
span.ltlbg_wSp{
    margin-bottom: 1.0em;
}