@charset "UTF-8";
/*issueに沿って実装追加*/

/*命名のみのクラス。
  html側で仕様を宣言されているが、littlebugでの付与を明示する目的しかないもの。
  実際に独自のスタイリングはしていない。
  必要になった場合は、ここからアンコメントして記述する。

改行
br.ltlbg_br{
}

段落
p.ltlbg_p{
}

括弧類段落
p.ltlbg_p_brctGrp{
}

空行
br.ltlbg_blankline{
}

ルビ
ruby.ltlbg_ruby{
}

水平線
hr.ltlbg_hr{
}

*/

html{
    /* フォント */
    /*webフォントを指定している。*/
    /*html側で読み込んでいるので、不要であれば変更・除去してください*/
    font-family: 'Noto Serif JP', serif;
    font-weight: normal;

    padding: 2.5em;
    line-height: 2em;    
}

/*改ページ*/
div.ltlbg_newpage{
    page-break-after: always;
}

/*太字*/
span.ltlbg_bold{
    font-weight:bold;
}

/*傍点 デフォルトはゴマなので、必要であれば変える*/
span.ltlbg_emphasis{
    text-emphasis-style: filled sesame;
}

/*章タイトル*/
h2.ltlbg_sectionName{
    display: inline-block;
    line-height: 3em;
    font-size: 1.6em;
}

/*1文字幅*/
span.ltlbg_wdfix{
    display: inline-block;
    text-align: center;
    width: 1em;
    height: 1em;
}

/*特殊ルビ用。
  rubyのクラスは縦横別なのでそれぞれに記載*/
rt {
    display: none;
}